#censor {
    position: absolute;
    backdrop-filter: blur(35px);
    /*left, top, width and height are set and kept-update by censor.js */
}

#censor > div {
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    /* Alignment of children */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#censor * {
    /* Default text styles */
    color: white;
    text-shadow: 1px 1px 0px black;
}

#censor h1 {
    color: red;
}

#censor > div > a {
    box-shadow: 1px 1px 0px black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 3px;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    width: fit-content;
    margin: 0 auto;
    margin-top: 24px;
    cursor: pointer;
}

#censor > div > div > div {
    margin: 3px 0;
}

#censor > div > div > div > label {
    font-size: 10pt;
}
