/* Wrapper div */
#censor {
    position: absolute;
    backdrop-filter: blur(10px);
    /*left, top, width and height are set and kept-update by censor.js */
}

/* Inner div with content inside */
#censor > div {
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    /* Alignment of children */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Default text styles */
#censor * {
    color: white;
    text-shadow: 1px 1px 0px black;
    /* font-size: 10% */
}

/* Title */
#censor h1 {
    color: red;
}

#censor .button {
    box-shadow: 1px 1px 0px black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 3px;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    width: fit-content;
    margin: 0 auto;
    margin-top: 3em;
    cursor: pointer;
}

/* Checkbox and label container */
#censor #hide-censor-forever {
    margin: 3px 0;
}

#censor #hide-censor-forever > label {
    font-size: 3em;
}
